.main-section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.heading-team {
  flex:1;
  width: 100vw;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.heading-team > p {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: bold;
}

.team-members-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
  width: 100vw;
}

.card-1-3 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  line-height: 0;
}

.card-1-3 > p {
  color: var(--secondary-text-color);
  font-size: 1vw;
  font-family: Roboto;
  font-weight: bold;
  flex: 1;
}

.card-1-3 > p:nth-child(2) {
  color: var(--primary-text-color);
  font-size: 2vw;
  flex: 1;
}

.team-members-card img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  flex: 1;
  border: 2px solid var(--secondary-text-color);
  width: 60%;
  height: 60%;
}

.team-members-card .icon {
  border: 0;
  flex: 0.5;
  height: 4vw;
  margin-bottom: 5vw;
}

@media (max-width: 768px) {
  .team-members-card .icon {
    display: none;
  }
}