:root {
    --primary-light : #F8F8F5;
    --primary-dark : #292E2C;
    --background-color : #F8F8F5;
    --primary-text-color : #4B645E;
    --secondary-text-color : #70947F;
    --tertiary-text-color: #F3F4ED;
    --info-text-color: #4B645E;
    --light-text-color: #B8C5B0;
    /* --dark-text-color: # */

}