.logoBox {
  position: fixed;
  width: 13vw;
  height: 13vw;
  left: 1vw;
  z-index: 999;
}

@media (max-width: 1108px) {
  .logoBox {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 425px) {
  .logoBox {
    top: 1rem;
    left: 1rem;
    width: 6rem;
    height: 6rem;
  }
}
