.main-app {
  display: flex;
  flex-direction: column;
}

/* .main-app > .nav {
  display: none;
} */

.main-app > .main-section {
  scroll-snap-align: start;
}

.main-app > .main-section-two {
  scroll-snap-align: start;
}

.main-app > .main-section-three {
  scroll-snap-align: start;
}

.main-app > .main-section-four {
  scroll-snap-align: start;
  background-color: pink;
}

.main-app > .carousel {
  scroll-snap-align: start;
}